    <style media="screen">
      .coverda{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:#575757;
        z-index:-1;
        opacity:0;
        transition:0.4s;
      }
      .logoutda{
        margin: auto;
      z-index: 10;
      position: absolute;
      transform: translate(-50%,50%);
      left: -50%;

      transition: 0.4s;
      background-color: #ffffff;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      border-radius: 5px;
      height: 150px;
      width: 334px;
      }
    .switchbtn{
        text-transform: uppercase;
font-size: 14px;
font-weight: bold;
text-shadow: none;
display: inline-block;
padding: 6px 12px;
float: right;
      }
    </style>


    <div class="coverda">
    </div>
    <div class="logoutda">
      <div class="">
      <h3 style="font-size: 22px; padding-left:10px; padding: 10px; padding-top: 0px">Deactivate User ?</h3>
    </div>
    <div class="" style="margin-left : 15px; ">
      <h5 id="dahead">Are you sure you want to deactivate the user?</h5>
    </div>
      <div class="">

        <button type="button" style="margin-right: 10px; margin-left: 10px;" class="switchbtn btn btn-danger" id="dano" name="button">No</button>
        <button type="button"  class="switchbtn btn btn-success" id="dayes" name="button">Yes</button>
      </div>
    </div>
    <script type="text/javascript">
    function deactivateuserfn(event)
  	{
      console.log(event);
  		document.querySelector(".coverda").style.opacity = '0.4';
  		document.querySelector(".coverda").style.zIndex = 2;
  		document.querySelector(".logoutda").style.left = "50%";
  		document.querySelector(".logoutda").style.bottom = "50%";
  		var btn1=document.querySelector("#dano");
  		var btn2=document.querySelector("#dayes");
      var id=event.target.parentNode.parentNode.parentNode.parentNode.parentNode.id;
      var request = new XMLHttpRequest();
        request.addEventListener('load', function()
        {
          var data=JSON.parse(request.responseText);

          var dahead=document.getElementById("dahead");
          dahead.innerHTML="Are you sure you want to Deactivate? <br>\""+data[0].username+"\"";
          statuspop.value="Confirmed";
         rolepop.value=data[0].userType;

          console.log(data);
        });
        request.open('POST', '/updatepopup');
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify({'id' : id}));


  		btn1.addEventListener("click",function()
  	{
  		document.querySelector(".coverda").style.opacity = '0';
  		document.querySelector(".coverda").style.zIndex = -1;
  		document.querySelector(".logoutda").style.left = "-50%";

  	});
  	btn2.addEventListener("click",function()
  	{
  	document.querySelector(".coverda").style.opacity = '0';
  	document.querySelector(".coverda").style.zIndex = -1;
  	document.querySelector(".logoutda").style.left = "-50%";



document.getElementById(id).childNodes[5].childNodes[0].childNodes[0].childNodes[2].style.display="none";
document.getElementById(id).childNodes[5].childNodes[0].childNodes[0].childNodes[4].style.display="inline-block";

  	});
  	}
    </script>
