<nav id="navbar">
        <div class="container-fluid" style="padding:0;" >
            <div id="leftpanel" style="float:left;">
                    <a id="cq" class="navbar-brand" href="#">cq</a>
    
    
                    <a href="#" onclick="openLogoutPage()" id="openbox" >
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                        <span class="label label-success" id="leftadmin">
                        Admin
                    </span>
            </div>
    
            <div id="rightpanel" style="float:right;">
    
                <span class="label label-warning" id="sadmin" style="float:right;">
                    <%= obj.name %>
                </span>
    
            </div>
        </div>
    
    </nav>
    