<style>
  .chead
{
	    display: flex;
    /* float: left; */
    margin-top: 15px;
    /* margin-left: 55px; */x;
}

.clab
{
	order: 1;
    flex: 3;
    font-size: 26px;
    font-family: fantasy;
}

.cempty {
    order: 2;
    flex: 5;
	/width : 635px;/
  }

 .rule
 {
	order: 3;

 }

  body
  {
	  padding : 0;
	  margin : 0;
	 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color : #333439;
	line-height: 1.42857143;
  }

.cbody
{
	width: 75%;
    margin-left: 55px;
    float: left;
    margin-top: 20px;
}

#crule
{
	width: 117px;
    background-color: #1b1818c9;
    color: white;
    height: 30px;
}

#dynam
{
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	/* margin-top: 35px; */
	background-color: #524F4F;
	color: #fff;
	border : 1px solid grey;
	    margin-right: 7px;
}

#CommunityInfoPop
{
	/*margin-left: 20%; */
    margin-top: 7%;
    font-weight: bold;
    font-size: 15px;
    word-wrap: break-word;
}

#CommunityProfilePic
{
	    width: 23%;
    height: 56%;
}

#CommunityProfilePic, #CommunityInfoPop
{
	float: left;
}

.page-content-div
{
	min-width : 360px;
}
</style>


<div id="page-content-wrapper" style="padding:0;margin-top:20px"> <!--Margin Top is new-->
         <div class="container-fluid page-content-div" style="padding:0">
            <div class="row">
               <div class="col-lg-12 scoll-possible" style="padding:0">


	<div class="chead">
		<div class="clab">Community List</div>
		<div class="cempty"></div>
		<div class="rule">
			<select id="crule" placeholder="All">
				<option>All</option>
				<option>Direct</option>
				<option>Permission</option>
			</select>
		</div>
	</div>
	</br>


	<div class="table-wrapper">

		<table id="c-table" class="table table-striped table-bordered nowrap" style="width:100%">
		<thead>
            <tr>
                <th>Community Name</th>
                <th>Membership Rule</th>
                <th>Community Location</th>
                <th>Community Owner</th>
                <th>Create Date</th>
                <th>Actions</th>
				<th>Community Pic</th>
            </tr>
        </thead>
		<tbody id="cdata">

		</tbody>
		</table>
	</div>

          <!-- Modal -->
 <div class="modal fade" id="updateCommunity" role="dialog" style="z-index:9999">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header" style="word-wrap:break-word;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="CommunityNamePop" style="font-weight:bold"></h4>
          <p id="CommunityAdminPop" style="font-size:10px;"></p>
        </div>
        <div class="modal-body">
        <!------------------------------------------------------------------------------------>
  <div class="form-horizontal">
          <div class="form-group">
            <div class="col-lg-5 col-lg-offset-3" style="width:50%">
              <input style="display:none" type="text" name="_id" style="text-align:center" class="form-control" id="_id" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">Commuity Name:</label>
            <div class="col-sm-10">
              <input type="text" name="communityName" class="form-control" id="CommuityName" placeholder="Community Name">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">Community Status:</label>
            <div class="col-sm-10">
              <select class="form-control" id="communityStatus" name="communityActive">
                  <option name="true" >Active</option>
                  <option name="false" >Deactive</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" id="editsubmit" data-dismiss="modal">Update</button>
            </div>
          </div>
        </div>
        <!---------------------------------------------------------------------------------->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="CommunityInfo" role="dialog" style="z-index:9999">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div id="CommunityProfile"><img id="CommunityProfilePic" >
            </div>
            <p id="CommunityInfoPop"></p>
            <a href="" id='mapLink' target="_blank">
              <p id="locInfo" style="font-size:15px;float:right;bottom:0;font-weight:bold"></p>
            </a>
          </div>
          <div class="modal-body">
          <!------------------------------------------------------------------------------------>
          <p style="font-size:15px;font-weight:bold;">Community Description</p><p id="locInfo" style="font-size:15px;float:right"></p>
          <div id="communityDesc" class="well well-lg" style="word-wrap: break-word;"></div>
          </div>
          <!---------------------------------------------------------------------------------->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>

<script>
  var table= document.getElementById("cdata");
var update_name = document.getElementById("CommuityName");
var update_status = document.getElementById("communityStatus");
var p = document.getElementById("CommunityAdminPop");
var h = document.getElementById("CommunityNamePop");
var img_id = document.getElementById("CommunityProfilePic");
var desc_id = document.getElementById("communityDesc");
var side = document.getElementById("CommunityInfoPop");
var update_btn = document.getElementById("editsubmit");
var old_name, old_status;
window.onload = ()=>
{
	var request = new XMLHttpRequest()
	request.open('GET','cl')
	request.send()
	request.onload = function()
	{
		var coms = JSON.parse(request.responseText)
       console.log(coms);

		for(var i in coms)
		{
			addtoDOM(coms[i])
		}
		update()
	}
}

function addtoDOM(obj)
{
	var tr= document.createElement("tr")
	tr.setAttribute("id",obj.cName)

	var cname = document.createElement("td")
	cname.innerHTML=obj.cName
	tr.appendChild(cname)

	var crule = document.createElement("td")
	crule.innerHTML=obj.cRule
	tr.appendChild(crule)

	var cloc = document.createElement("td")
	cloc.innerHTML=obj.cLoc
	tr.appendChild(cloc)

	var co = document.createElement("td")
	co.innerHTML=obj.cOwner
	tr.appendChild(co)

	var cd = document.createElement("td")
	cd.innerHTML=obj.cDate
	tr.appendChild(cd)

	var actions = document.createElement("td")

	var a1 = document.createElement("a")
	a1.setAttribute("href","#updateCommunity")
	a1.setAttribute("data-toggle","modal")
	var span = document.createElement("span")
	span.setAttribute("class","fa fa-edit");
	span.setAttribute("id","dynam")
	a1.appendChild(span)
	actions.appendChild(a1)

	var a2 = document.createElement("a")
	a2.setAttribute("href","#CommunityInfo")
	a2.setAttribute("data-toggle","modal")
	var span2 = document.createElement("span")
	span2.setAttribute("class","fa fa-info");
	span2.setAttribute("id","dynam")
	a2.appendChild(span2)
	actions.appendChild(a2)

	tr.appendChild(actions)

	a1.addEventListener('click',function(event)
	{
		//alert("edit clicked")
		update_name.value = obj.cName;
		old_name = obj.cName;
		update_status.value = obj.cStatus;
		old_status = obj.cStatus;
		var l1 =  document.createElement("label")
		l1.innerHTML = "Update " +obj.cName;
		h.appendChild(l1);
		var l2 = document.createElement("l");
		l2.innerHTML = "Created by "+obj.cOwner+", "+obj.cDate;
		p.appendChild(l2);
		$(document).ready(function(){
		$("#updateCommunity").modal();
		});
	});

	a2.addEventListener('click',function(event)
	{
		//alert("info clicked")
		var p = document.createElement("p");
		p.innerHTML = obj.cDesc;
		desc_id.appendChild(p);
		img_id.setAttribute("src","cpic.jpg");
		side.innerHTML = "COMMUNITY: "+ obj.cName;
	$(document).ready(function(){
		$("#CommunityInfo").modal();
	});
	});

	var cpic = document.createElement("td")
	var img = document.createElement("img")
	img.setAttribute("src","cpic.jpg")
	//img.setAttribute("class","img-thumbnail")
	img.setAttribute("width","30%")
	img.setAttribute("height","20%")
	cpic.appendChild(img)
	tr.appendChild(cpic)

	table.appendChild(tr)
}

function update()
{
	$(document).ready(function()
	{
		$('#c-table').DataTable();
	});
}

update_btn.addEventListener('click',function()
{
	var ob = new Object();
	ob.old_n = old_name;
	ob.old_s = old_status;
	ob.cName = update_name.value;
	ob.cStatus = update_status.value;
	var request = new XMLHttpRequest();
	request.open('PUT','/updateCom');
	request.setRequestHeader("Content-Type","application/JSON");
    request.send(JSON.stringify(ob));

	console.log(request.responseText);

	request.onload=function()
	{
			//alert("Com updated");
			//window.location="/home";
	}
});
</script>
