
<style media="screen">
.head{
  margin : 10px;
  height: 34px;
  width: 90px;
  background: #2D312C;
  color: #fff;
  font-weight: bold;
  float: left;
  border: 2px solid #2D312C;
  padding : 6px 12px;
  font-size : 14px;

  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.btn {
    border-radius: 0;
    outline: none !important;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.actionbtns {
    margin: 3px;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.selectbox{
  float: right;
    margin: 10px;
    background-color: #2D312C;
    color: #fff;
    font-size: 16px;
    height: 38px;
    border-radius: 4px;
    cursor : pointer;
}
.refreshspan{
  content : \e031;
}
.divpop{
  top: 1%;
position: fixed;
height: auto;
width: 50%;
background-color: #fff;
opacity: 1;
left: 25%;
/* right: 500px; */
overflow: hidden;
}
#activateuser{
  display : none;
}
.Action{
  padding : 5px;
}
#deactivateuser{
  display : inline-block;
}
</style>

<div style="background-color :ghostwhite; font-size : 14px; margin-top :60px ">



  <!-- .....updatemodel---- -->
  <% include updatemodal %>


  <div>
  <div class="head">
    <center>
  User List
</center>
</div>


<select class="selectbox" id="suser">
  <option selected>All</option>
  <option>Admin</option>
  <option>User</option>
  <option>Community Builder</option>
</select>

<select class="selectbox" id="sstatus">
<option selected>All</option>
<option>Pending</option>
<option>Confirmed</option>
</select>
<button onclick="refresh()" class="btn btn-default" style="margin :10px;float: right;background-color: #2D312C;color: #fff; float : right; ">
        <span class="fa fa-refresh"></span> Refresh
      </button>

  </div>

  <br>
  <br>
  <div style="margin : 10px;" class="table-responsive-md">
  <table id="mydt" class="table table-striped table-bordered " style="width:100%">
          <thead>
              <tr>
                  <th>Username/Email</th>
                  <th>Phone</th>
                  <th>City</th>
                  <th>Status</th>
                  <th>Role</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody id="tablebody">

          </tbody>
      </table>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src ="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js">
</script>
<script>
  var mydt=document.getElementById('mydt');
  var tbody=document.getElementById('tablebody');
  var data=[];
  var flag=0;

  function getdata()
  {



    var request = new XMLHttpRequest();
      request.addEventListener('load', function()
      {
        flag=1;
        var i=0;
        data=JSON.parse(request.responseText);
        n=data.length;
        while(i<n)
        {
        var tr=document.createElement('tr');
        tr.setAttribute("id",data[i]._id);
        var td1=document.createElement('td');
        td1.innerHTML=data[i].username;
        td1.className = 'Username';
        tr.appendChild(td1);
        var td2=document.createElement('td');
        td2.className = 'Phone';
        td2.innerHTML=data[i].phoneNo;
        tr.appendChild(td2);
        var td3=document.createElement('td');
        td3.className = 'City'
        td3.innerHTML=data[i].city;
        tr.appendChild(td3);
        var td4=document.createElement('td');
        	td4.className = 'Status'
        if(data[i].status==0)
        {
          td4.innerHTML="Pending";
        }
        else
        td4.innerHTML="Confirmed";
        tr.appendChild(td4);
        var td5=document.createElement('td');
        	td5.className = 'Role'
        td5.innerHTML=data[i].userType;
        tr.appendChild(td5);
        var td6=document.createElement('td');
        	td6.className = 'Action'
          if(data[i].userType == 'superuser'){
    				td6.innerHTML = '<div id="divbut" ><center><a class="btn btn-primary btn-sm emailbtn actionbtns" id="emailbutton" data-toggle="modal" data-target="#sendmail" onclick=sendmail(data[i].username) style="background:#000;  padding-right : 0px; "><span class="fa fa-envelope" style="color:#fff; font-size:small; "></span></a></center> </div>'
          }else{
    				td6.innerHTML = '<div><center><a class="btn btn-primary btn-sm emailbtn actionbtns" data-toggle="modal" data-target="#sendmail" onclick=sendmail(data[i].username) id="emailbutton" style="background:#000; padding-right : 0px;"><span class="fa fa-envelope" style="color:#fff; font-size:small;"></span></a><a data-toggle="modal" data-target="#editpopup" class="btn btn-primary btn-sm editbtn actionbtns" id="updatebutton" onclick="updateaction(event)" style="color: #fff; padding-right : 0px";><span class="fa fa-edit" style="font-size:small;"></span></a><a class="btn btn-warning btn-sm activebtn actionbtns" id="deactivateuser" onclick="deactivateuserfn(event)" style="color : #fff; padding-right : 0px;"><span class="fa fa-times-circle" style="font-size:small;"></span></a> <a class="btn btn-success btn-sm activebtn actionbtns " style="color : #fff; padding-right : 0px; " onclick="activateuserfn(event)" id="activateuser"><span class="fa fa-check-circle " style="font-size:small;"></span></a></center> </div>'

        	}

            i++;
        tr.appendChild(td6);
        tbody.appendChild(tr);





      }
        $(document).ready(function() {
          $('#mydt').DataTable();

        } );

      });
      request.open('GET', '/gettable');
      request.setRequestHeader("Content-Type", "application/json");
      request.send();
  }
getdata();




function refresh()
{
  tbody.innerHTML="";
  getdata();
}


var updatebtnpopup=document.getElementById("updatebtnpopup");

updatebtnpopup.addEventListener("click",function(){

  var userheadpop=document.getElementById("userheadpop");
  var usernamepop=document.getElementById("usernamepop");
  var phonepop=document.getElementById("phonepop");
  var citypop=document.getElementById("citypop");
  var statuspop=document.getElementById("statuspop");
  var rolepop=document.getElementById("rolepop");
  var _idpop=document.getElementById("_idpop");


    var request = new XMLHttpRequest();
    request.addEventListener('load', function()
    {

      var data=JSON.parse(request.responseText);
      var tr=document.getElementById(_idpop.value);
      tr.innerHTML="";

      var td1=document.createElement('td');
      td1.innerHTML=data.username;
      td1.className = 'Username';
      tr.appendChild(td1);
      var td2=document.createElement('td');
      td2.className = 'Phone';
      td2.innerHTML=data.phoneNo;
      tr.appendChild(td2);
      var td3=document.createElement('td');
      td3.className = 'City'
      td3.innerHTML=data.city;
      tr.appendChild(td3);
      var td4=document.createElement('td');
        td4.className = 'Status'
      if(data.status==0)
      {
        td4.innerHTML="Pending";
      }
      else
      td4.innerHTML="Confirmed";
      tr.appendChild(td4);
      var td5=document.createElement('td');
        td5.className = 'Role'
      td5.innerHTML=data.userType;
      tr.appendChild(td5);
      var td6=document.createElement('td');
        td6.className = 'Action'
        if(data.userType == 'superuser'){
          td6.innerHTML = '<div id="divbut" ><center><a class="btn btn-primary btn-sm emailbtn actionbtns" id="emailbutton" data-toggle="modal" data-target="#sendmail" onclick=sendmail(data.username) style="background:#000;  padding-right : 0px; "><span class="fa fa-envelope" style="color:#fff; font-size:small; "></span></a></center> </div>'
        }else{
          td6.innerHTML = '<div><center><a class="btn btn-primary btn-sm emailbtn actionbtns" id="emailbutton" data-toggle="modal" data-target="#sendmail" onclick=sendmail(data.username) style="background:#000; padding-right : 0px;"><span class="fa fa-envelope" style="color:#fff; font-size:small;"></span></a><a data-toggle="modal" data-target="#editpopup" class="btn btn-primary btn-sm editbtn actionbtns" id="updatebutton" onclick="updateaction(event)" style="color: #fff; padding-right : 0px";><span class="fa fa-edit" style="font-size:small;"></span></a><a class="btn btn-warning btn-sm activebtn actionbtns" id="deactivateuser" onclick="deactivateuserfn(event)" style="color : #fff; padding-right : 0px;"><span class="fa fa-times-circle" style="font-size:small;"></span></a> <a class="btn btn-success btn-sm activebtn actionbtns " style="color : #fff; padding-right : 0px; " onclick="activateuserfn(event)" id="activateuser"><span class="fa fa-check-circle " style="font-size:small;"></span></a></center> </div>'

        }
      tr.appendChild(td6);





    });
    request.open('POST', '/doupdate');
    request.setRequestHeader("Content-Type", "application/json");
    var a;
    if(statuspop.value=="Confirmed")
    a=0;
    else
    a=1;
    request.send(JSON.stringify({'id' : _idpop.value,'username' : usernamepop.value, 'phone' : phonepop.value, 'city' : citypop.value, 'status' : a, 'role' : rolepop.value}));

});







function updateaction(event)
{
  var id=event.target.parentNode.parentNode.parentNode.parentNode.parentNode.id;



  var request = new XMLHttpRequest();
    request.addEventListener('load', function()
    {
      var data=JSON.parse(request.responseText);

      var userheadpop=document.getElementById("userheadpop");
      var usernamepop=document.getElementById("usernamepop");
      var phonepop=document.getElementById("phonepop");
      var citypop=document.getElementById("citypop");
      var statuspop=document.getElementById("statuspop");
      var rolepop=document.getElementById("rolepop");
      var _idpop=document.getElementById("_idpop");
      userheadpop.innerHTML="Update "+data[0].username;
      usernamepop.value=data[0].username;
      phonepop.value=data[0].phoneNo;
      citypop.value=data[0].city;
      _idpop.value=id;
      //statuspop.value="Confirmed";
    //  rolepop.value=data[0].userType;

      console.log(data);
    });
    request.open('POST', '/updatepopup');
    request.setRequestHeader("Content-Type", "application/json");
    request.send(JSON.stringify({'id' : id}));


}











var suser=document.getElementById("suser");
var sstatus=document.getElementById("sstatus");


suser.addEventListener("change",function()
{
  var index=suser.selectedIndex;
  if(index==0)
  {
    if(sstatus.value=="All")
    refresh();
    else {
      if(sstatus.value=="Pending")
      var a=0;
      else
      var a=1;
    updateWithStatus(a);
    }
  }
  else {
    tbody.innerHTML="";
    if(sstatus.value=="All")
    {
      updateWithUser(suser.value);
    }
    else {
   if(sstatus.value=="Pending")
    a=0;
    else
    a=1;
    updateWithUser(suser.value);
    //do later setting suser and status together
  }
  }



});


sstatus.addEventListener("change",function()
{
  var index=sstatus.selectedIndex;
  if(index==0)
  {
    refresh();
  }
  else if(index==1)
  {
    tbody.innerHTML="";
    var a=0;
    updateWithStatus(a);
  }
  else if(index==2)
  {
    var a=1;
    tbody.innerHTML="";
    updateWithStatus(a);
  }
});









function updateWithStatus(status)
{

  var request = new XMLHttpRequest();
    request.addEventListener('load', function()
    {
      flag=1;
      var i=0;
      data=JSON.parse(request.responseText);
      n=data.length;
      while(i<n)
      {
      var tr=document.createElement('tr');
      tr.setAttribute("id",data[i]._id);
      var td1=document.createElement('td');
      td1.innerHTML=data[i].username;
      td1.className = 'Username';
      tr.appendChild(td1);
      var td2=document.createElement('td');
      td2.className = 'Phone';
      td2.innerHTML=data[i].phoneNo;
      tr.appendChild(td2);
      var td3=document.createElement('td');
      td3.className = 'City'
      td3.innerHTML=data[i].city;
      tr.appendChild(td3);
      var td4=document.createElement('td');
        td4.className = 'Status'
      if(data[i].status==0)
      {
        td4.innerHTML="pending";
      }
      else
      td4.innerHTML="confirmed";
      tr.appendChild(td4);
      var td5=document.createElement('td');
        td5.className = 'Role'
      td5.innerHTML=data[i].userType;
      tr.appendChild(td5);
      
      var td6=document.createElement('td');
        td6.className = 'Action'
        if(data[i].userType == 'superuser'){
          td6.innerHTML = '<div id="divbut" ><center><a class="btn btn-primary btn-sm emailbtn actionbtns" id="emailbutton" data-toggle="modal" data-target="#sendmail" onclick=sendmail(data[i].username) style="background:#000;  padding-right : 0px; "><span class="fa fa-envelope" style="color:#fff; font-size:small; "></span></a></center> </div>'
        }else{
          td6.innerHTML = '<div><center><a class="btn btn-primary btn-sm emailbtn actionbtns" id="emailbutton" data-toggle="modal" data-target="#sendmail" onclick=sendmail(data[i].username) style="background:#000; padding-right : 0px;"><span class="fa fa-envelope" style="color:#fff; font-size:small;"></span></a><a data-toggle="modal" data-target="#editpopup" class="btn btn-primary btn-sm editbtn actionbtns" id="updatebutton" onclick="updateaction(event)" style="color: #fff; padding-right : 0px";><span class="fa fa-edit" style="font-size:small;"></span></a><a class="btn btn-warning btn-sm activebtn actionbtns" id="deactivateuser" onclick="deactivateuserfn(event)" style="color : #fff; padding-right : 0px;"><span class="fa fa-times-circle" style="font-size:small;"></span></a> <a class="btn btn-success btn-sm activebtn actionbtns " style="color : #fff; padding-right : 0px; " onclick="activateuserfn(event)" id="activateuser"><span class="fa fa-check-circle " style="font-size:small;"></span></a></center> </div>'

        }

          i++;
      tr.appendChild(td6);
      tbody.appendChild(tr);

    }
      $(document).ready(function() {
        $('#mydt').DataTable();

      } );

    });
    request.open('POST', '/gettablewithuser');
    request.setRequestHeader("Content-Type", "application/json");
    request.send(JSON.stringify({'status' : status}));
}







function updateWithUser(type)
{
  console.log(type);
  var request = new XMLHttpRequest();
    request.addEventListener('load', function()
    {
      flag=1;
      var i=0;
      data=JSON.parse(request.responseText);
      n=data.length;
      while(i<n)
      {
      var tr=document.createElement('tr');
      tr.setAttribute("id",data[i]._id);
      var td1=document.createElement('td');
      td1.innerHTML=data[i].username;
      td1.className = 'Username';
      tr.appendChild(td1);
      var td2=document.createElement('td');
      td2.className = 'Phone';
      td2.innerHTML=data[i].phoneNo;
      tr.appendChild(td2);
      var td3=document.createElement('td');
      td3.className = 'City'
      td3.innerHTML=data[i].city;
      tr.appendChild(td3);
      var td4=document.createElement('td');
        td4.className = 'Status'

      if(data[i].status==0)
      {
        td4.innerHTML="pending";
      }
      else
      td4.innerHTML="confirmed";
      tr.appendChild(td4);
      var td5=document.createElement('td');
        td5.className = 'Role'
      td5.innerHTML=data[i].userType;
      tr.appendChild(td5);
      var td6=document.createElement('td');
        td6.className = 'Action';

        if(data[i].userType == 'superuser'){
          td6.innerHTML = '<div id="divbut" ><center><a class="btn btn-primary btn-sm emailbtn actionbtns" id="emailbutton" data-toggle="modal" data-target="#sendmail" onclick=sendmail(data[i].username) style="background:#000;  padding-right : 0px; "><span class="fa fa-envelope" style="color:#fff; font-size:small; "></span></a></center> </div>'
        }else{
          td6.innerHTML = '<div><center><a class="btn btn-primary btn-sm emailbtn actionbtns" id="emailbutton" data-toggle="modal" data-target="#sendmail" onclick=sendmail(data[i].username) style="background:#000; padding-right : 0px;"><span class="fa fa-envelope" style="color:#fff; font-size:small;"></span></a><a data-toggle="modal" data-target="#editpopup" class="btn btn-primary btn-sm editbtn actionbtns" id="updatebutton" onclick="updateaction(event)" style="color: #fff; padding-right : 0px";><span class="fa fa-edit" style="font-size:small;"></span></a><a class="btn btn-warning btn-sm activebtn actionbtns" id="deactivateuser" onclick="deactivateuserfn(event)" style="color : #fff; padding-right : 0px;"><span class="fa fa-times-circle" style="font-size:small;"></span></a> <a class="btn btn-success btn-sm activebtn actionbtns " style="color : #fff; padding-right : 0px; " onclick="activateuserfn(event)" id="activateuser"><span class="fa fa-check-circle " style="font-size:small;"></span></a></center> </div>'

        }

          i++;
      tr.appendChild(td6);
      tbody.appendChild(tr);

    }
      $(document).ready(function() {
        $('#mydt').DataTable();

      } );

    });
    request.open('POST', '/gettablewithuser');
    request.setRequestHeader("Content-Type", "application/json");
    request.send(JSON.stringify({'userType' : type}));
}

function sendmail(username)
   {

     console.log(username);
     $('#musername').prop('readonly',false);
     $('#musername').val(username);
     $('#musername').prop('readonly',true);
     // $('#msubject').val('This Mail is From CQ');
     $('#sendmailbutton').click(function()
     {
       var obj = Object();

       obj.username = username
       console.log(obj);
       var request = new XMLHttpRequest();
       request.open('POST','/sendmail')
       request.setRequestHeader("Content-Type","application/json");
       request.send(JSON.stringify(obj));
       request.onload = () =>
       {
           //alert("mail sent");
           // $('#mailcontent').val("")
       }
     })

   }
  // $(document).ready(function(){
    // $.trumbowyg.svgPath="trumbowyg.svg"
    // $("#mailcontent").trumbowyg();



</script>

<%include deactivateuser %>
<%include activateuser %>
</div>
