
<div class="modal fade" id="editpopup" role="dialog" style="padding: 0px; margin : 0px">
  <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="userheadpop">Update</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>

        </div>
        <div class="modal-body">
        <!------------------------------------------------------------------------------------>
  <div class="form-horizontal">
          <div class="form-group">
            <div class="col-lg-5 col-lg-offset-3 col-md-12" style="width:50%">
              <input type="text" name="_id" style="text-align:center;display:none;" class="form-control" id="_idpop" readonly="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Username:</label>
            <div class="col-sm-10">
              <input type="text"  name="username" class="form-control" id="usernamepop" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Phone:</label>
            <div class="col-sm-10">
              <input type="text" name="phone" class="form-control" id="phonepop" placeholder="Phone" maxlength="15">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">City:</label>
            <div class="col-sm-10">
              <input type="text" name="city" class="form-control" id="citypop" placeholder="City">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Status:</label>
            <div class="col-sm-10">
              <select class="form-control" id="statuspop" name="status">
                  <option name="pending" value="pending">Pending</option>
                  <option name="confirmed" value="confirmed">Confirmed</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Role:</label>
            <div class="col-sm-10">
              <select class="form-control" id="rolepop" name="role">
                <option name="user" value="user">User</option>
                  <option name="admin" value="commuity manager">Community Builder</option>
                <option name="admin" value="admin">Admin</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" id="updatebtnpopup">Update</button>
            </div>
          </div>
        </div>
        <!---------------------------------------------------------------------------------->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
