<style media="screen">
  .fa-set{
    font-size : 14px;
    padding-right : 0px;
  }
  .btn{
    border-radius : 0;
  }
  #page-content-wrapper {
    left : 0px;
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}
.community-header-top {
    width: 100%;
    background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);
    height: 180px;
}
.community-head-btn {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    margin-left: 100px;
    border: 1px solid #fff;
}
a.active-icon {
    border: 1px solid #fff !important;
    color: #fff !important;
    border-bottom: 4px solid #fff !important;
    background-color: rgba(255,255,255,0.1) !important;
}
.community-panel-main-div {
    border: 0;
    border-radius: 0;
    margin-top: 50px;
}
.community-panel-heading {
    border-radius: 0;
    background-image: linear-gradient(to top, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);
}
.community-panel-btn {
    color: #fff;
    background: transparent;
    border-color: #fff;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.community-div {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-color: #CCCCCC;
}
.comnametxt {
    margin-top: 25px;
    font-weight: 600;
    /* color: #7D7D7D; */
    text-decoration: none;
    word-wrap: break-word;
    text-transform: capitalize;
}
.community-div {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-color: #CCCCCC;
}
.community-short-btn {
    float: right;
    margin-top: 25px;
    color: #7D7D7D;
    font-size: 15px;
    cursor: pointer !important;
    float: right;
    text-decoration: none;
    text-transform: capitalize;
}
.comnametxt {
    margin-top: 25px;
    font-weight: 600;
    /* color: #7D7D7D; */
    text-decoration: none;
    word-wrap: break-word;
    text-transform: capitalize;
    color: #337ab7;
}
a {
    color: #337ab7;
    text-decoration: none;
}
</style>

  <div id="page-content-wrapper" style="padding:0;margin-top:42px;"> <!--Margin Top is new-->
           <div class="container-fluid page-content-div" style="padding:0">
              <div class="row">
                 <div class="col-lg-12 scoll-possible" style="padding:0">




  <!--====================================================================-->
  <div class="community-header-top" style="height:50px;padding-top:6px;">
  <div class="col-sm-12 community-sub-head">
      <a class="btn community-head-btn active-icon" href="/community">
        <i class="fa fa-users fa-set"></i>
      </a>
      <a class="btn community-head-btn" style="margin-left:10px" href="/communitysearch">
        <i class="fa fa-search fa-set"></i>
      </a>
  </div>
  </div>
  <!--====================================================================-->
   <div class="container" style="padding:0">
  <div class="col-sm-12">
    <div class="panel panel-default allSidesSoft community-panel-main-div">
      <div class="panel-heading community-panel-heading">

          <p style="color:white;margin-top:6px;font-weight:bold">My Communities</p>
          <a href="/addcommunity" class="btn btn-info community-panel-btn" style="float:right;margin:-35px 5px 0 0">Create</a>

      </div>
      <div class="panel-body" style="padding-bottom:0">

          <div id="can-create-community">

        </div>

      </div>

      <div class="panel-body" style="padding-top:0;padding-bottom:0">
          <center>

          </center>
          <div id="community-that-am-in">

          </div>
      </div>

      <div class="panel-body" style="padding-top:0">
        <div id="my-pending-community">

        </div>
      </div>

    </div>
  </div>
  </div>
  <br>
  <!--====================================================================-->

  </div>
  </div>
  </div>
  </div>
<script type="text/javascript">

var commArr = [];
var ownerpannel = document.getElementById("can-create-community");
var memberpannel = document.getElementById("community-that-am-in");
var requestpannel = document.getElementById("my-pending-community");



loadFromServer();

function loadFromServer()
{
  var request = new XMLHttpRequest();
  request.open('GET',"/ownercommunities");
  request.send();
  request.onload = function()
  {
      commArr = JSON.parse(request.responseText);
      //console.log(commArr);

      for(var i in commArr)
      {
          console.log(i);
               addDom(commArr[i]);
      }
  }


  // var request = new XMLHttpRequest();
  // request.open('GET',"/membercommunities");
  // request.send();
  // request.onload = function()
  // {
  //     // commArr = JSON.parse(request.responseText);
  //     // //console.log(commArr);
  //     //
  //     // for(var i in commArr)
  //     // {
  //     //
  //     //          addDom(commArr[i]);
  //     // }
  // }



}
load();

function load()
{
  var request = new XMLHttpRequest();
  request.open('GET',"/membercommunities");
  request.send();
  request.onload = function()
  {
      commArr = JSON.parse(request.responseText);
      console.log(commArr);

      for(var i in commArr)
      {

               memberToDom(commArr[i]);
      }
  }
}



loadrequest();

function loadrequest()
{
  var request = new XMLHttpRequest();
  request.open('GET',"/requestcommunitiesdata");
  request.send();
  request.onload = function()
  {
      commArr = JSON.parse(request.responseText);
      console.log(commArr);

      for(var i in commArr)
      {

               reqMemberToDom(commArr[i]);
      }
  }
}





function addhr(target)
{
    // var hr = document.createElement("hr");
    // hr.setAttribute("style","color:black;border-width: 1px;")
    // target.appendChild(hr);
}
function addDom(ob)
{
    console.log(ob);
    var parentDiv = document.createElement("div");

    var div1 = document.createElement("div");
    var div2 = document.createElement("div");
    var div3 = document.createElement("div");
    //var div4 = document.createElement("div");
    parentDiv.setAttribute("class","col-sm-12 col-xs-12 community-div");
    parentDiv.setAttribute("style","margin-top:5px");

    addhr(parentDiv);

    div1.setAttribute("class","col-sm-1 col-xs-3");
    div1.setAttribute("style","padding:10px");
    var img = document.createElement("img");
    img.setAttribute("src","/community.jpg");
    img.setAttribute("style","height: 50px;width: 50px;border: 3px solid #fff;background: rgb(255, 255, 255) !important;box-shadow: 0 0 10px rgba(0,0,0,0.5);")
    div1.appendChild(img);
    parentDiv.appendChild(div1);


    div2.setAttribute("class","col-sm-10 col-xs-7");
    div2.setAttribute("style","padding-top:25px;padding-bottom:5px;");
    var para = document.createElement("p");
    var a1 = document.createElement("a");
    a1.setAttribute("class","comnametxt");
    a1.innerHTML = ob.communityName;
    var a2 = document.createElement("a");
    a2.setAttribute("style","margin-left:5px;")
    a2.setAttribute("href","/manageCommunity/"+ob.communityId);
    a1.setAttribute("href","/discussion/"+ob.communityId);
    a2.innerHTML = "Request(0)";
    para.appendChild(a1);
    para.appendChild(a2);
    div2.appendChild(para);
    parentDiv.appendChild(div2);

    div3.setAttribute("class","col-sm-1 col-xs-2");
    div3.setAttribute("style","padding-top:0px");
    var a3 = document.createElement("a");
    a3.setAttribute("class","community-short-btn");
    a3.setAttribute("href","#");
    //a3.setAttribute("class","community-short-btn");
    a3.setAttribute("style","float:right");
    var label = document.createElement("label");
    label.setAttribute("class","label label-success");
    var i1 = document.createElement("i");
    i1.setAttribute("class","fa fa-cogs");
    i1.setAttribute("style","padding-right:0px;font-size : 15px");
    label.appendChild(i1);
    a3.appendChild(label);
    div3.appendChild(a3);
    parentDiv.appendChild(div3);


    addhr(parentDiv);

    ownerpannel.appendChild(parentDiv);

}





function memberToDom(ob)
{
    //console.log(ob);
    var parentDiv = document.createElement("div");

    var div1 = document.createElement("div");
    var div2 = document.createElement("div");
    var div3 = document.createElement("div");
    //var div4 = document.createElement("div");
    parentDiv.setAttribute("class","col-sm-12 col-xs-12 community-div");
    parentDiv.setAttribute("style","margin-top:5px");

    addhr(parentDiv);

    div1.setAttribute("class","col-sm-1 col-xs-3");
    div1.setAttribute("style","padding:10px");
    var img = document.createElement("img");
    img.setAttribute("src","community.jpg");
    img.setAttribute("style","height: 50px;width: 50px;border: 3px solid #fff;background: rgb(255, 255, 255) !important;box-shadow: 0 0 10px rgba(0,0,0,0.5);")
    div1.appendChild(img);
    parentDiv.appendChild(div1);


    div2.setAttribute("class","col-sm-10 col-xs-7");
    div2.setAttribute("style","padding-top:25px;padding-bottom:5px;");
    var para = document.createElement("p");
    var a1 = document.createElement("a");
    a1.setAttribute("class","comnametxt");
    a1.innerHTML = ob.name;
    var a2 = document.createElement("a");
    a2.setAttribute("style","margin-left:5px;")
    a2.setAttribute("href","#");
    a1.setAttribute("href","#");
    a2.innerHTML = "Member(1)";
    para.appendChild(a1);
    para.appendChild(a2);
    div2.appendChild(para);
    parentDiv.appendChild(div2);

    // div3.setAttribute("class","col-sm-1 col-xs-2");
    // div3.setAttribute("style","padding-top:0px");
    // var a3 = document.createElement("a");
    // a3.setAttribute("class","community-short-btn");
    // a3.setAttribute("href","#");
    // //a3.setAttribute("class","community-short-btn");
    // a3.setAttribute("style","float:right");
    // var label = document.createElement("label");
    // label.setAttribute("class","label label-success");
    // var i1 = document.createElement("i");
    // i1.setAttribute("class","fa fa-cogs");
    // i1.setAttribute("style","padding-right:0px;font-size : 15px");
    // label.appendChild(i1);
    // a3.appendChild(label);
    // div3.appendChild(a3);
    // parentDiv.appendChild(div3);


    addhr(parentDiv);

    memberpannel.appendChild(parentDiv);

}





function reqMemberToDom(ob)
{
    //console.log(ob);
    var parentDiv = document.createElement("div");

    var div1 = document.createElement("div");
    var div2 = document.createElement("div");
    var div3 = document.createElement("div");
    //var div4 = document.createElement("div");
    parentDiv.setAttribute("class","col-sm-12 col-xs-12 community-div");
    parentDiv.setAttribute("style","margin-top:5px");

    addhr(parentDiv);

    div1.setAttribute("class","col-sm-1 col-xs-3");
    div1.setAttribute("style","padding:10px");
    var img = document.createElement("img");
    img.setAttribute("src","community.jpg");
    img.setAttribute("style","height: 50px;width: 50px;border: 3px solid #fff;background: rgb(255, 255, 255) !important;box-shadow: 0 0 10px rgba(0,0,0,0.5);")
    div1.appendChild(img);
    parentDiv.appendChild(div1);


    div2.setAttribute("class","col-sm-10 col-xs-7");
    div2.setAttribute("style","padding-top:25px;padding-bottom:5px;");

    var label1=document.createElement("label");
    label1.setAttribute("class","label label-danger");
    label1.innerHTML="Pending";
    var para = document.createElement("p");
    var a1 = document.createElement("a");
    a1.setAttribute("class","comnametxt");
    a1.innerHTML = ob.name;
    a1.setAttribute("style","margin-left:15px;")
    var a2 = document.createElement("a");
    a2.setAttribute("style","margin-left:5px;")
    a2.setAttribute("href","#");
    a1.setAttribute("href","#");
    a2.innerHTML = "Member(1)";
    para.appendChild(label1);
    para.appendChild(a1);
    para.appendChild(a2);

    div2.appendChild(para);
    parentDiv.appendChild(div2);

    div3.setAttribute("class","col-sm-1 col-xs-2");
    div3.setAttribute("style","padding-top:0px");
    var a3 = document.createElement("a");
    a3.setAttribute("class","community-short-btn");
    a3.setAttribute("href","#");
    //a3.setAttribute("class","community-short-btn");
    a3.setAttribute("style","float:right");
    var label = document.createElement("label");
    label.setAttribute("class","label label-danger");
    var i1 = document.createElement("i");
    i1.setAttribute("class","fa fa-times");
    i1.setAttribute("style","padding-right:0px;font-size : 10px");
    label.appendChild(i1);
    a3.appendChild(label);
    div3.appendChild(a3);
    parentDiv.appendChild(div3);


    addhr(parentDiv);

    requestpannel.appendChild(parentDiv);

}

</script>
