<style media="screen">
  .adminlabel{
  	float: right;
  padding: .2em .6em .3em;
  font-size: x-small;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #5cb85c;
  }

</style>

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="border-radius: 0px; position : fixed">
<a class="navbar-brand" style="font-size: 20px;font-weight: bold;" href="#" >cq</a>
<a href="#" class="navbar-toggler ml-auto" style="border : none;" data-toggle="collapse"><span class="adminlabel" >Admin</span></a>

<button class="navbar-toggle " style="color : #fff; margin-top: 0px;"  id="menu-toggle-pc">
               <span class="glyphicon glyphicon-th-large" aria-hidden="true">
               </span>
             </button>

            <div class="collapse navbar-collapse">

              <a href="/logout" class="nav-item" style="color : #fff; margin-left :30px; cursor :pointer; ">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                </span>
                            </a>
            </div>

             <div class="collapse navbar-collapse" style="position: fixed;right: 0;">

                     <!-- <span class="label label-warning" >superadmin</span> -->
                       <span class="label label-success" style="margin-right : 20px"> <%= data[0].username %> </span>
                     <a href="/userProfilePending"> <img src=<%= data[0].image%> style="height: 40px;width : 40px; border-radius : 50%" class="profilePic"></a>
                </div>

</nav>
