<!DOCTYPE html>
<head>
<title>CQ</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">

<link rel="stylesheet" href="  https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <% include partials/menucss %>
</head>

<style media="screen">
  .divtable{
    padding-left: 50px;
  }
  @media(max-width : 768px){
    .divtable{
      padding-left: 0px;
    }
  }
</style>
<body>


<% include partials/top %>

<% include partials/sidebar %>
<div class="divprofile divtable" id="divprofile" style="padding-right : 2px; padding-top  :0px;">
  <% include partials/communityListing %>
</div>



  <% include partials/switchtoUser %>
  <script>

//var selector = '.nav li';
$('#showuserli').removeClass('active');
$('#adduserli').removeClass('active');
$('#tagli').removeClass('active');
$('#switchli').removeClass('active');
$('#homeli').removeClass('active');
$('#changepasswordli').removeClass('active');
$('#logoutli').removeClass('active');

$('#userlist').removeClass('active1');
$('#adduser').removeClass('active1');
$('#tagpanel').removeClass('active1');
$('#switchasuser').removeClass('active1');
$('#home').removeClass('active1');
$('#changepassword').removeClass('active1');
$('#logout').removeClass('active1');
//$('#edit-profile-nav').addClass('active');
$('#communitylistli').addClass('active');
$('#communitylist').addClass('active1');

  </script>
</body>


</html>
