.head{
  height: 34px;
  width: 90px;
  background: #2D312C;
  color: #fff;
  font-weight: bold;
  float: left;
  border: 2px solid #2D312C;
  padding : 6px 12px;
  font-size : 14px;

  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.btn {
    border-radius: 0;
    outline: none !important;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.actionbtns {
    margin: 5px;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
